name: bicycle_safe_system
description: "A new Flutter project."
publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ^3.10.3

dependencies:
  cupertino_icons: ^1.0.8
  flutter:
    sdk: flutter
  flutter_map: ^7.0.0         #interactive map
  latlong2: ^0.9.1            #location
  http: ^1.2.0                #request for making a path
  flutter_blue_plus: ^2.1.0
  permission_handler: ^12.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
    
flutter:
  uses-material-design: true
  